<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

   
 
  
  <style>
  #app{
      background-color:#CFD8DC;      
  }
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>   
       <!--<h2 class="text-center">CRUD usando APIREST con Node JS</h2>-->
       <!-- Botón CREAR -->  
       <v-flex class="text-center align-center">
       <v-btn class="mx-2 mt-4"  fab dark color="#00B0FF" @click="formNuevo()"><v-icon dark>mdi-plus</v-icon></v-btn>           
       </v-flex> 
                    
         
        <v-card class="mx-auto mt-5" color="transparent" max-width="1280" elevation="8">
                     
          <v-form> 
          <v-col cols="6" md="2">
            <v-text-field v-model="empresa.id" label="Id" solo required></v-text-field>
          </v-col>
          <v-btn @click="guardar2()" type="submit" color="blue darken-2" dark>Buscar Id</v-btn>
          </v-form>
          <p>{{ empresa.id }}</p>

        <!-- Tabla y formulario -->
        <v-simple-table class="mt-5">
            
          <template v-slot:default>
            
              <thead>
                  
                    <tr class="indigo darken-4">
                        <th class="white--text">ID</th>
                        <th class="white--text">Nombre</th>
                        <th class="white--text">Pais</th>
          
                        <th class="white--text text-center">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="empresa in empresas" :key="empresa.id">
                    <td>{{ empresa.id }}</td>
                    <td>{{ empresa.name }}</td>
                    <td>{{ empresa.country }}</td>
          
                    <td>
                        <v-btn fab dark color="#00BCD4" small @click="formEditar(empresa.id, empresa.name, empresa.country)"><v-icon>mdi-pencil</v-icon></v-btn>
                        <v-btn fab dark color="#E53935" small @click="borrar(empresa.id)"><v-icon>mdi-delete</v-icon></v-btn>
                    </td>
                    </tr>
                </tbody>
            </template>
        </v-simple-table>
        
        </v-card>        
      <!-- Componente de Diálogo para CREAR y EDITAR -->
      <v-dialog v-model="dialog" max-width="500">        
        <v-card>
          <v-card-title class="blue darken-2 white--text">Empresa</v-card-title>    
          <v-card-text>            
            <v-form>             
              <v-container>
                <v-row>
                  <input v-model="empresa.id" hidden></input>
                  <v-col cols="12" md="4">
                    <v-text-field v-model="empresa.name" label="Nombre" solo required>{{empresa.name}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field v-model="empresa.country" label="Pais"   solo required>{{empresa.country}}</v-text-field>
                  </v-col>
                 </v-row>
              </v-container>            
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="dialog=false" color="blue-grey" dark>Cancelar</v-btn>
            <v-btn @click="guardar()" type="submit" color="blue darken-2" dark>Guardar</v-btn>
          </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.7/vuetify.min.js" integrity="sha512-BPXn+V2iK/Zu6fOm3WiAdC1pv9uneSxCCFsJHg8Cs3PEq6BGRpWgXL+EkVylCnl8FpJNNNqvY+yTMQRi4JIfZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 

  <script>

    let url = 'http://localhost:8000/api/companies/';

    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
       data() {
        return {            
            empresas: [],
            dialog: false,
            operacion: '',            
            empresa:{
                id: null,
                name:'',
                country:'',
           
            }          
        }
       },
       created(){               
            this.mostrar()
       },  
       methods:{          
            //MÉTODOS PARA EL CRUD
            mostrar:function(){
              axios.get(url)
              .then(response =>{
                this.empresas = response.data;                   
              })
            },
            mostrar2:function(){
              let id=8;
                axios.get(url+id)
              .then(response =>{
                this.empresas = response.data;                   
              })
            },
            crear:function(){
                let parametros = {name:this.empresa.name, country:this.empresa.country};                
                axios.post(url, parametros)
                .then(response =>{
                  this.mostrar();
                });     
                this.empresa.name="";
                this.empresa.country="";
           
            },                        
            editar: function(){
            let parametros = {name:this.empresa.name, country:this.empresa.country};                            
            //console.log(parametros);  
                console.log(url+this.empresa.id, parametros);                 
                 axios.put(url+this.empresa.id, parametros)                            
                  .then(response => {                                
                     this.mostrar();
                  })                
                  .catch(error => {
                      console.log(error);            
                  });
            },
            borrar:function(id){
              axios.delete(url+id)
                      .then(response =>{           
                          this.mostrar();
                       });              
            },

            //Botones y formularios
            guardar:function(){
              if(this.operacion=='crear'){
                this.crear();                
              }
              if(this.operacion=='editar'){ 
                this.editar();                           
              }
              this.dialog=false;                        
            }, 
            guardar2:function(){
              
                this.mostrar2();                        
            }, 
            formNuevo:function () {
              this.dialog=true;
              this.operacion='crear';
              this.empresa.name='';                           
              this.empresa.country='';
            },
            formEditar:function(id, name, country){
              //capturamos los datos del registro seleccionado y los mostramos en el formulario
              this.empresa.id = id;
              this.empresa.name = name;                            
              this.empresa.country = country;                     
              this.dialog=true;                            
              this.operacion='editar';
            }
           
        
       }      
    });
  </script>
</body>
</html> 